<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Chips</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <h2>Contact Chips</h2>
  <div class="flex gap-3">
    <div class="contacts-wrap">
      <div class="contact-chip-img">
        <img src="/static/user.png" alt="user" class="contact-chip-img" />
      </div>
      <div class="contact-chip-label">
        <div>Jhon Doe</div>
      </div>
    </div>

    <div class="contacts-wrap">
      <div class="contact-chip-img">
        <img src="/static/woman.png" alt="user" class="contact-chip-img" />
      </div>
      <div class="contact-chip-label">
        <div>Jane Row</div>
        <div class="btn">x</div>
      </div>
    </div>
  </div>
</body>
</html>