.contacts-wrap{
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  display: flex;
}

.flex{
  display: flex;
}
.gap-3{
  gap: 0.75rem;
}
.contact-chip-img{
  height:62px;
  width: 62px;
  overflow: hidden;
  border-radius: 9999px;
  z-index: 10;
}
.contact-chip-img > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.contact-chip-label{
  padding: 15px 15px;
  background-color: rgb(209 213 219 );
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: -31px;
  padding-left: 35px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  z-index: 0;
}
.contact-chip-label > .btn:hover{
  cursor: pointer;
}
.contact-chip-label > .btn{
  padding-left: 7px;
  padding-right: 7px;
}
.text-lg{
  font-size: 18px;
}
body {
  padding: 10px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
